body {
	padding-left: 1em;
}


.txtInput {
	margin-top: 1em;  
	width: 30em; 
}


.btnSubmit {
	font-size: 2em; 
	margin-top: 1em;
}


p {
	background-color: yellow;
	font-size: 1.5em; 
	width: 50em;   

}